@model IEnumerable<Parts.Entities.Selection>

@{
    ViewData["Title"] = "Список пользовательских выборок";
}


<h1>Список пользовательских выборок</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @foreach (var e in item.Parts)
            {
                <td>
                    @Html.DisplayFor(modelItem => e.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => e.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => e.Maker.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => e.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => e.Description)
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Обновить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Создать новую выборку</a>
</p>