@model IEnumerable<Parts.Entities.Selection>

@{
    ViewData["Title"] = "Список пользовательских выборок";
}


<h1>Список пользовательских выборок</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @try
                {
                    foreach (var e in item.PartInSelelections)
                    {
                        @e.Part.Name
                        @e.Part.Model
                        @e.Part.Maker.Name
                        @e.Part.Price
                        @e.Part.Description
                    }
                 }
                 catch
                 {
                    
                 }


                }
                </td>
                <td>
                   <a asp-action="Edit" asp-route-id="@item.Id">Обновить</a>
                </td>
                <td>
                   <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Создать новую выборку</a>
</p>